@model List<NotePad>
@{
    ViewBag.Title = "Index";
}
<br />
<br />
<br />
<a href="@Url.Action("Insert","NotePad")" class="btn btn-success"> Yeni Kayıt Oluştur</a>
<table class="table table-bordered" >
    <tbody>
        <tr>
            <td>Başlık</td>
            <td>Açıklama</td>
            <td>Link</td>
            <td>Resim</td>
            <td>Düzenle</td>
            <td>Sil</td>
        </tr>
        @foreach (NotePad notePad in Model)
        {
            <tr>
                <td>@notePad.Title</td>
                <td>@notePad.Explanation</td>
                <td><a href="@notePad.NoteUrl">@notePad.NoteUrl</a> </td>
                <td><img src="~/Uploads/@notePad.FilePath" height="25" width="25" class="img-responsive" /></td>
            </tr>
        }
    </tbody>
</table>

