@model NotePad
@{
    ViewBag.Title = "Update";
}

<h2>Düzenle</h2>

@using (Html.BeginForm("Update", "Notepad", FormMethod.Post,new { enctype="multipart/form-data"}))
{
<div class="form-group">
    <div class="form-group">
        <input type="text" name="title" placeholder="Başlık" value="@Model.Title" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="explanation" placeholder="Açıklama" value="@Model.Explanation" class="form-control" />
    </div>
    <div class="form-group">
        <input type="text" name="noteUrl" placeholder="Url" value="@Model.NoteUrl" class="form-control" />
    </div>
    <div class="form-group">
        <input type="file" name="uploadFile" placeholder="Url" value="@Model.FilePath" class="form-control" />
    </div>
    <div class="form-group">
        <input type="hidden" name="notePadId" value="@Model.NotePadId" />
    </div>
    <div class="form-group">
        <input type="submit"  value="Kaydet" class="btn btn-success" />
    </div>
</div>
}


